.backdrop_image img{
    filter: brightness(0.4);
    width: 100%;
}
.trailer_btn{
    background-color: rgba(240, 248, 255, 0.86);
}

.trailer_btn:hover{
    background-color: rgba(240, 248, 255, 0.192);
    /* border: rgba(240, 248, 255, 0.86) 1px solid; */
    color: rgba(240, 248, 255, 0.86);
    transition: 250ms;
}

.form input{
    text-decoration: none;
    inset: none;
}
.form input:focus{
    border: 1px solid rgb(148, 148, 148);
    outline: none;
}
.App{
    background-color: #08090e;
}
.searchbtn{
    color: rgb(43, 43, 43);
    background-color: rgba(248, 248, 254, 0.863);
}